{% extends "base.html" %}
{% load static %}
{% load i18n %} {% block title %} {% trans "Афіша" %} {% endblock title %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <aside class="col-12 col-md-3 mb-4 mb-md-0">
            <div class="sidebar-menu p-3">
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px">
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{% url 'main:poster' %}" class="nav-link {% if is_active_poster %} active {% endif %}" aria-current="page">
                                {% trans "Афіша" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'main:poster_coming_soon' %}" class="nav-link {% if is_active_poster_coming_soon %} active {% endif %} link-body-emphasis">
                                {% trans "Скоро на екранах" %}
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
        </aside>

        <main class="col-12 col-md-9">
            <section class="schedule">
                <div class="row mb-5">
                    {% for movie in movies %}
                    <div class="col-3 mb-4">
                        <div class="card h-100 shadow-sm">
                            <img src="{{ movie.main_image.url }}" class="card-img-top" alt="{{ movie.title }}">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                                <p class="card-text small text-muted">
                                    {{ movie.description|truncatewords:20 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <section class="coming-soon">
                <div class="row g-4">
                </div>
            </section>
        </main>
    </div>
</div>
{% endblock %}