{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Адмінка{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/overlayscrollbars.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/adminlte.css' %}">

  {% block extra_css %}{% endblock %}
</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
  <div class="app-wrapper">
    <nav class="app-header navbar navbar-expand bg-body">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
              <i class="bi bi-list"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
      <div class="sidebar-wrapper">
         <ul class="nav sidebar-menu flex-column d-flex h-100" data-lte-toggle="treeview" role="menu">
          <li class="nav-item">
            <a href="{% url 'adminlte:statistics' %}" class="nav-link">
              <i class="nav-icon bi bi-speedometer2"></i>
              <p>Статистика</p>
            </a>
          </li>

           <li class="nav-item">
            <a href="{% url 'adminlte:banners' %}" class="nav-link">
              <i class="nav-icon bi bi-speedometer2"></i>
              <p>Банери/Слайдери</p>
            </a>
          </li>

         <li class="nav-item">
            <a href="{% url 'adminlte:film_list' %}" class="nav-link">
              <i class="nav-icon bi bi-calendar-event"></i>
              <p>Фільми</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'adminlte:cinemas_list' %}" class="nav-link">
              <i class="nav-icon bi bi-calendar-event"></i>
              <p>Кінотеатри</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'adminlte:news_and_actions' is_news=1 %}" class="nav-link">
              <i class="nav-icon bi bi-grid-3x3-gap"></i>
              <p>Новини</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'adminlte:news_and_actions' is_news=0 %}" class="nav-link">
              <i class="nav-icon bi bi-cup-hot"></i>
              <p>Акції</p>
            </a>
          </li>

           <li class="nav-item">
            <a href="{% url 'adminlte:pages' %}" class="nav-link">
              <i class="nav-icon bi bi-cup-hot"></i>
              <p>Сторінки</p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'adminlte:schedule_list' %}" class="nav-link">
              <i class="nav-icon bi bi-calendar-event"></i>
              <p>Керування розкладом</p>
            </a>
          </li>

           <li class="nav-item">
            <a href="{% url 'adminlte:users_list' %}" class="nav-link">
              <i class="nav-icon bi bi-cup-hot"></i>
              <p>Користувачі</p>
            </a>
          </li>

           <li class="nav-item">
            <a href="{% url 'adminlte:mailing' %}" class="nav-link">
              <i class="nav-icon bi bi-cup-hot"></i>
              <p>Розсилання</p>
            </a>
          </li>


         <li class="nav-item" style="margin-top: auto">
             <a href="{% url 'main:main_page' %}" class="nav-link">
             <i class="bi bi-box-arrow-left"></i>
             <p>Назад на головну</p>
             </a>
         </li>
        </ul>
      </div>
    </aside>

    <main class="app-main">
      <div class="app-content pt-3 px-3">
        {% block content %}{% endblock %}
      </div>
    </main>
  </div>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'js/overlayscrollbars.browser.es6.min.js' %}"></script>

  <script src="{% static 'js/adminlte.js' %}"></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const el = document.querySelector('.sidebar-wrapper');
      if (el && window.OverlayScrollbarsGlobal) {
        OverlayScrollbarsGlobal.OverlayScrollbars(el, {
          scrollbars: { autoHide: 'leave' }
        });
      }
    });
  </script>

  {% block extra_js %}{% endblock %}
</body>
</html>